<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{registration.register.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1 class="mb-4">[[#{registration.register.headline}]]</h1>
            <div th:replace="~{fragments/forms::globalErrors('registrationRequest')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='registrationRequest', field='name', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='registrationRequest', field='password', required=true, type='password')}" />
                <input type="submit" th:value="#{registration.register.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
